* {
    margin: 0;
    padding: 0;
    
}

body {
    
     color: white;
     background-color: #1a1a1b;
     
}

::-webkit-scrollbar { 
    display: none; 
}

html {
    
    scroll-behavior: smooth;
}

h1 {
    font-family: 'Playfair Display bold', serif;
     -webkit-text-stroke: 1px White;
     color: #1a1a1b;
}

h2 {  
    font-family: 'Roboto light', sans-serif;
}

p {
     font-family: 'Roboto light', sans-serif;
}

a {
    font-family: 'Roboto regular', sans-serif;
   
}

span {
    color: #5949ff;
}

img {
    width: 100%;
}

img.logo {
    
max-width:3.7em;
height: auto;    
}

.navbar {
    text-align: right;
    
}

nav a {
    text-decoration: none;
    color: white;
    font-size: 1.4em;
    margin-left: 60px;
}

nav a:hover {
    
    background-color: #5949ff;
}

.Download {
    
    background-color: #5949ff;
    padding: .7em;
}

.Download:hover {
    
    box-shadow: 0px 14px 35px #212122;
}

nav {
    display: flex;
    align-items: center;
    justify-content:space-between;
    background-color: #292a2c;
    padding-left: 6%;
    padding-right: 6%;
    padding-top: 3%;
    padding-bottom: 3%;
}

#Intro {
    margin: 0px 100px 0px 100px;
    margin-top: 12%;
    margin-bottom: 12%;
}

.Heading {
    
    font-size: 4em;
    text-align: center;
    margin-bottom: 4%;
}

.Para {
    font-size: 2.8em;
    text-align: center;
}

#Icons {
    
    margin: 0px 100px 0px 100px;
    
}

.Heading1 {
    font-size: 4em;
    margin-bottom: 5%;
}

.Para1{
    
    font-size: 2.8em;
    margin-bottom: 18%;
}

.grid1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 30px;
}

.p1:hover {
    transform: scale(1.2);
}

.p1 {
    transition: 0.3s ease-in-out;
}

.p2:hover {
    transform: scale(1.2);
}

.p2 {
    transition: 0.3s ease-in-out;
}

.p3:hover {
    transform: scale(1.2);
}

.p3 {
    transition: 0.3s ease-in-out;
    
}

.Names1 {
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 30px;
    text-align: center;
    font-size: 1em;
    margin-top: 5%;
    margin-bottom: 12%;
}

.grid2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 30px;
}

.p4:hover {
    transform: scale(1.2);
}

.p4 {
    transition: 0.3s ease-in-out;
}

.p5:hover {
    transform: scale(1.2);
}

.p5 {
    transition: 0.3s ease-in-out;
}

.p6:hover {
    transform: scale(1.2);
}

.p6 {
    transition: 0.3s ease-in-out;
    
}

.Names2 {
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 30px;
    text-align: center;
    font-size: 1em;
    margin-top: 5%;
    margin-bottom: 12%;
}

.grid3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 30px;
}

.p7:hover {
    transform: scale(1.2);
}

.p7 {
    transition: 0.3s ease-in-out;
}

.p8:hover {
    transform: scale(1.2);
}

.p8 {
    transition: 0.3s ease-in-out;
}

.p9:hover {
    transform: scale(1.2);
}

.p9 {
    transition: 0.3s ease-in-out;
    
}

.Names3 {
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 30px;
    text-align: center;
    font-size: 1em;
    margin-top: 5%;
    margin-bottom: 12%;
}

.grid4 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 30px;
}

.p10:hover {
    transform: scale(1.2);
}

.p10 {
    transition: 0.3s ease-in-out;
}

.p11:hover {
    transform: scale(1.2);
}

.p11 {
    transition: 0.3s ease-in-out;
}

.p12:hover {
    transform: scale(1.2);
}

.p12 {
    transition: 0.3s ease-in-out;
    
}

.Names4 {
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 30px;
    text-align: center;
    font-size: 1em;
    margin-top: 5%;
    margin-bottom: 12%;
}


#Contact {
    margin: 0px 100px 0px 100px;
}

.website {
    color: #5949ff;
}

.Para2{
    
    font-size: 2.8em;
    margin-bottom: 8%;
}

 .social li {
    display: inline;
}

li a {
    text-decoration: none;
    color: white;
    margin-right: 2em;
    font-size: 1.7em;
}

.social {
    margin-bottom: 8%;
}

 .mail:hover{
    background-color: #5949ff;
}

.dribbble:hover{
    background-color: #ea4c89;

}

.instagram:hover{
   background-color: #833ab4;
}

.twitter:hover{
background-color: #1da1f2;    
}

.tumblr:hover{
    background-color: #35465c;
}





@media (max-width: 600px) {
    
body {
    
     color: white;
     background-color: #1a1a1b;
     
}

::-webkit-scrollbar { 
    display: none; 
}

html {
    
    scroll-behavior: smooth;
}

h1 {
    font-family: 'Playfair Display bold', serif;
     -webkit-text-stroke: 1px White;
     color: #1a1a1b;
}

h2 {  
    font-family: 'Roboto light', sans-serif;
}

p {
     font-family: 'Roboto light', sans-serif;
}

a {
    font-family: 'Roboto regular', sans-serif;
   
}

span {
    color: #5949ff;
}

img {
    width: 100%;
}

img.logo {
    
max-width:2.3em;
height: auto;    
}

.navbar {
    text-align: right;
    
}

nav a {
    text-decoration: none;
    color: white;
    font-size: 1em;
    margin-left: 25px;
}

nav a:hover {
    
    background-color: #5949ff;
}

.Download {
    
    background-color: #5949ff;
    padding: .4em;
}

.Download:hover {
    
    box-shadow: 0px 14px 35px #212122;
}

nav {
    display: flex;
    align-items: center;
    justify-content:space-between;
    background-color: #292a2c;
    padding-left: 7%;
    padding-right: 7%;
    padding-top: 5%;
    padding-bottom: 5%;
}

#Intro {
    margin: 0px 30px 0px 30px;
    margin-top: 20%;
    margin-bottom: 20%;
}

.Heading {
    
    font-size: 2.4em;
    text-align: center;
    margin-bottom: 10%;
    line-height: 1.6em;
}

.Para {
    font-size: 1.4em;
    text-align: center;
}

#Icons {
    
    margin: 0px 30px 0px 30px;
    
}

.Heading1 {
    font-size: 2.4em;
    margin-bottom: 10%;
}

.Para1{
    
    font-size: 1.4em;
    margin-bottom: 20%;
}

.grid1 {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 50px;
    margin-bottom: 20%;
}
    .p1 {
        width: 100%;
    }
    
.p1:hover {
    transform: scale(1.1);
}

.p1 {
    transition: 0.3s ease-in-out;
}

.p2:hover {
    transform: scale(1.1);
}

.p2 {
    transition: 0.3s ease-in-out;
}

.p3:hover {
    transform: scale(1.1);
}

.p3 {
    transition: 0.3s ease-in-out;
    
}
    .Names1 {
     display: none;
    } 
    
.grid2 {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 50px;
    margin-bottom: 20%;
}

.p4:hover {
    transform: scale(1.1);
}

.p4 {
    transition: 0.3s ease-in-out;
}

.p5:hover {
    transform: scale(1.1);
}

.p5 {
    transition: 0.3s ease-in-out;
}

.p6:hover {
    transform: scale(1.1);
}

.p6 {
    transition: 0.3s ease-in-out;
    
}

.Names2 {
    
    display: none;
}

.grid3 {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 50px;
    margin-bottom: 20%;
}

.p7:hover {
    transform: scale(1.1);
}

.p7 {
    transition: 0.3s ease-in-out;
}

.p8:hover {
    transform: scale(1.1);
}

.p8 {
    transition: 0.3s ease-in-out;
}

.p9:hover {
    transform: scale(1.1);
}

.p9 {
    transition: 0.3s ease-in-out;
    
}

.Names3 {
    
    display: none;
}

.grid4 {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 50px;
    margin-bottom: 20%;
}

.p10:hover {
    transform: scale(1.1);
}

.p10 {
    transition: 0.3s ease-in-out;
}

.p11:hover {
    transform: scale(1.1);
}

.p11 {
    transition: 0.3s ease-in-out;
}

.p12:hover {
    transform: scale(1.1);
}

.p12 {
    transition: 0.3s ease-in-out;
    
}

.Names4 {
    
    display: none;
}


#Contact {
    margin: 0px 30px 0px 30px;
}

.website {
    color: #5949ff;
}

.Para2{
    
    font-size: 1.4em;
    margin-bottom: 10%;
}

 .social li {
    display: inline;
}

li a {
    text-decoration: none;
    color: white;
    margin-right: .9em;
    font-size: 1em;
}

.social {
    margin-bottom: 20%;
}

 .mail:hover{
    background-color: #5949ff;
}

.dribbble:hover{
    background-color: #ea4c89;

}

.instagram:hover{
   background-color: #833ab4;
}

.twitter:hover{
background-color: #1da1f2;    
}

.tumblr:hover{
    background-color: #35465c;
}
    
}




@media (min-width: 600px) {
    
body {
    
     color: white;
     background-color: #1a1a1b;
     
}

::-webkit-scrollbar { 
    display: none; 
}

html {
    
    scroll-behavior: smooth;
}

h1 {
    font-family: 'Playfair Display bold', serif;
     -webkit-text-stroke: 1px White;
     color: #1a1a1b;
}

h2 {  
    font-family: 'Roboto light', sans-serif;
}

p {
     font-family: 'Roboto light', sans-serif;
}

a {
    font-family: 'Roboto regular', sans-serif;
   
}

span {
    color: #5949ff;
}

img {
    width: 100%;
}

img.logo {
    
max-width:2.7em;
height: auto;    
}

.navbar {
    text-align: right;
    
}

nav a {
    text-decoration: none;
    color: white;
    font-size: 1.2em;
    margin-left: 35px;
}

nav a:hover {
    
    background-color: #5949ff;
}

.Download {
    
    background-color: #5949ff;
    padding: .5em;
}

.Download:hover {
    
    box-shadow: 0px 14px 35px #212122;
}

nav {
    display: flex;
    align-items: center;
    justify-content:space-between;
    background-color: #292a2c;
    padding-left: 7%;
    padding-right: 7%;
    padding-top: 5%;
    padding-bottom: 5%;
}

#Intro {
    margin: 0px 50px 0px 50px;
    margin-top: 17%;
    margin-bottom: 17%;
}

.Heading {
    
    font-size: 2.6em;
    text-align: center;
    margin-bottom: 10%;
    line-height: 1.6em;
}

.Para {
    font-size: 1.6em;
    text-align: center;
}

#Icons {
    
    margin: 0px 50px 0px 50px;
    
}

.Heading1 {
    font-size: 2.6em;
    margin-bottom: 10%;
}

.Para1{
    
    font-size: 1.6em;
    margin-bottom: 20%;
}

.grid1 {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 50px;
    margin-bottom: 20%;
}
    .p1 {
        width: 100%;
    }
    
.p1:hover {
    transform: scale(1.1);
}

.p1 {
    transition: 0.3s ease-in-out;
}

.p2:hover {
    transform: scale(1.1);
}

.p2 {
    transition: 0.3s ease-in-out;
}

.p3:hover {
    transform: scale(1.1);
}

.p3 {
    transition: 0.3s ease-in-out;
    
}
    .Names1 {
     display: none;
    } 
    
.grid2 {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 50px;
    margin-bottom: 20%;
}

.p4:hover {
    transform: scale(1.1);
}

.p4 {
    transition: 0.3s ease-in-out;
}

.p5:hover {
    transform: scale(1.1);
}

.p5 {
    transition: 0.3s ease-in-out;
}

.p6:hover {
    transform: scale(1.1);
}

.p6 {
    transition: 0.3s ease-in-out;
    
}

.Names2 {
    
    display: none;
}

.grid3 {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 50px;
    margin-bottom: 20%;
}

.p7:hover {
    transform: scale(1.1);
}

.p7 {
    transition: 0.3s ease-in-out;
}

.p8:hover {
    transform: scale(1.1);
}

.p8 {
    transition: 0.3s ease-in-out;
}

.p9:hover {
    transform: scale(1.1);
}

.p9 {
    transition: 0.3s ease-in-out;
    
}

.Names3 {
    
    display: none;
}

.grid4 {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 50px;
    margin-bottom: 20%;
}

.p10:hover {
    transform: scale(1.1);
}

.p10 {
    transition: 0.3s ease-in-out;
}

.p11:hover {
    transform: scale(1.1);
}

.p11 {
    transition: 0.3s ease-in-out;
}

.p12:hover {
    transform: scale(1.1);
}

.p12 {
    transition: 0.3s ease-in-out;
    
}

.Names4 {
    
    display: none;
}


#Contact {
    margin: 0px 50px 0px 50px;
}

.website {
    color: #5949ff;
}

.Para2{
    
    font-size: 1.6em;
    margin-bottom: 10%;
}

 .social li {
    display: inline;
}

li a {
    text-decoration: none;
    color: white;
    margin-right: 1em;
    font-size: 1.3em;
}

.social {
    margin-bottom: 17%;
}

 .mail:hover{
    background-color: #5949ff;
}

.dribbble:hover{
    background-color: #ea4c89;

}

.instagram:hover{
   background-color: #833ab4;
}

.twitter:hover{
background-color: #1da1f2;    
}

.tumblr:hover{
    background-color: #35465c;
}
    
}




@media (min-width: 768px) {
    
body {
    
     color: white;
     background-color: #1a1a1b;
     
}

::-webkit-scrollbar { 
    display: none; 
}

html {
    
    scroll-behavior: smooth;
}

h1 {
    font-family: 'Playfair Display bold', serif;
     -webkit-text-stroke: 1px White;
     color: #1a1a1b;
}

h2 {  
    font-family: 'Roboto light', sans-serif;
}

p {
     font-family: 'Roboto light', sans-serif;
}

a {
    font-family: 'Roboto regular', sans-serif;
   
}

span {
    color: #5949ff;
}

img {
    width: 100%;
}

img.logo {
    
max-width:3.2em;
height: auto;    
}

.navbar {
    text-align: right;
    
}

nav a {
    text-decoration: none;
    color: white;
    font-size: 1.4em;
    margin-left: 40px;
}

nav a:hover {
    
    background-color: #5949ff;
}

.Download {
    
    background-color: #5949ff;
    padding: .6em;
}

.Download:hover {
    
    box-shadow: 0px 14px 35px #212122;
}

nav {
    display: flex;
    align-items: center;
    justify-content:space-between;
    background-color: #292a2c;
    padding-left: 6%;
    padding-right: 6%;
    padding-top: 4%;
    padding-bottom: 4%;
}

#Intro {
    margin: 0px 60px 0px 60px;
    margin-top: 15%;
    margin-bottom: 15%;
}

.Heading {
    
    font-size: 2.9em;
    text-align: center;
    margin-bottom: 5%;
    line-height: 1.6em;
}

.Para {
    font-size: 1.9em;
    text-align: center;
}

#Icons {
    
    margin: 0px 60px 0px 60px;
    
}

.Heading1 {
    font-size: 2.9em;
    margin-bottom: 10%;
}

.Para1{
    
    font-size: 1.9em;
    margin-bottom: 17%;
}

.grid1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 20px;
    margin-bottom: auto;
    
}
    .p1 {
        width: 100%;
    }
    
.p1:hover {
    transform: scale(1.1);
}

.p1 {
    transition: 0.3s ease-in-out;
}

.p2:hover {
    transform: scale(1.1);
}

.p2 {
    transition: 0.3s ease-in-out;
}

.p3:hover {
    transform: scale(1.1);
}

.p3 {
    transition: 0.3s ease-in-out;
    
}
    .Names1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 20px;
    text-align: center;
    font-size: .8em;
    margin-top: 5%;
    margin-bottom: 8%;
} 
    
.grid2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 20px;
    margin-bottom: auto;
}

.p4:hover {
    transform: scale(1.1);
}

.p4 {
    transition: 0.3s ease-in-out;
}

.p5:hover {
    transform: scale(1.1);
}

.p5 {
    transition: 0.3s ease-in-out;
}

.p6:hover {
    transform: scale(1.1);
}

.p6 {
    transition: 0.3s ease-in-out;
    
}

.Names2 {
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 20px;
    text-align: center;
    font-size: .8em;
    margin-top: 5%;
    margin-bottom: 12%;

}

.grid3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 20px;
    margin-bottom: auto;
}

.p7:hover {
    transform: scale(1.1);
}

.p7 {
    transition: 0.3s ease-in-out;
}

.p8:hover {
    transform: scale(1.1);
}

.p8 {
    transition: 0.3s ease-in-out;
}

.p9:hover {
    transform: scale(1.1);
}

.p9 {
    transition: 0.3s ease-in-out;
    
}

.Names3 {
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 20px;
    text-align: center;
    font-size: .8em;
    margin-top: 5%;
    margin-bottom: 8%;
}

.grid4 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 20px;
    margin-bottom: auto;
}

.p10:hover {
    transform: scale(1.1);
}

.p10 {
    transition: 0.3s ease-in-out;
}

.p11:hover {
    transform: scale(1.1);
}

.p11 {
    transition: 0.3s ease-in-out;
}

.p12:hover {
    transform: scale(1.1);
}

.p12 {
    transition: 0.3s ease-in-out;
    
}

.Names4 {
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 20px;
    text-align: center;
    font-size: .8em;
    margin-top: 5%;
    margin-bottom: 12%;
}


#Contact {
    margin: 0px 60px 0px 60px;
}

.website {
    color: #5949ff;
}

.Para2{
    
    font-size: 1.9em;
    margin-bottom: 10%;
}

 .social li {
    display: inline;
}

li a {
    text-decoration: none;
    color: white;
    margin-right: 1.2em;
    font-size: 1.5em;
}

.social {
    margin-bottom: 17%;
}

 .mail:hover{
    background-color: #5949ff;
}

.dribbble:hover{
    background-color: #ea4c89;

}

.instagram:hover{
   background-color: #833ab4;
}

.twitter:hover{
background-color: #1da1f2;    
}

.tumblr:hover{
    background-color: #35465c;
}
    
}




@media (min-width: 900px) {
    
body {
    
     color: white;
     background-color: #1a1a1b;
     
}

::-webkit-scrollbar { 
    display: none; 
}

html {
    
    scroll-behavior: smooth;
}

h1 {
    font-family: 'Playfair Display bold', serif;
     -webkit-text-stroke: 1px White;
     color: #1a1a1b;
}

h2 {  
    font-family: 'Roboto light', sans-serif;
}

p {
     font-family: 'Roboto light', sans-serif;
}

a {
    font-family: 'Roboto regular', sans-serif;
   
}

span {
    color: #5949ff;
}

img {
    width: 100%;
}

img.logo {
    
max-width:3.4em;
height: auto;    
}

.navbar {
    text-align: right;
    
}

nav a {
    text-decoration: none;
    color: white;
    font-size: 1.4em;
    margin-left: 50px;
}

nav a:hover {
    
    background-color: #5949ff;
}

.Download {
    
    background-color: #5949ff;
    padding: .6em;
}

.Download:hover {
    
    box-shadow: 0px 14px 35px #212122;
}

nav {
    display: flex;
    align-items: center;
    justify-content:space-between;
    background-color: #292a2c;
    padding-left: 6%;
    padding-right: 6%;
    padding-top: 4%;
    padding-bottom: 4%;
}

#Intro {
    margin: 0px 70px 0px 70px;
    margin-top: 15%;
    margin-bottom: 15%;
}

.Heading {
    
    font-size: 3.2em;
    text-align: center;
    margin-bottom: 7%;
    line-height: 1.6em;
}

.Para {
    font-size: 2.2em;
    text-align: center;
}

#Icons {
    
    margin: 0px 70px 0px 70px;
    
}

.Heading1 {
    font-size: 3.2em;
    margin-bottom: 10%;
}

.Para1{
    
    font-size: 2.2em;
    margin-bottom: 15%;
}

.grid1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 20px;
    margin-bottom: auto;
    
}
    .p1 {
        width: 100%;
    }
    
.p1:hover {
    transform: scale(1.1);
}

.p1 {
    transition: 0.3s ease-in-out;
}

.p2:hover {
    transform: scale(1.1);
}

.p2 {
    transition: 0.3s ease-in-out;
}

.p3:hover {
    transform: scale(1.1);
}

.p3 {
    transition: 0.3s ease-in-out;
    
}
    .Names1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 20px;
    text-align: center;
    font-size: .9em;
    margin-top: 5%;
    margin-bottom: 10%;
} 
    
.grid2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 20px;
    margin-bottom: auto;
}

.p4:hover {
    transform: scale(1.1);
}

.p4 {
    transition: 0.3s ease-in-out;
}

.p5:hover {
    transform: scale(1.1);
}

.p5 {
    transition: 0.3s ease-in-out;
}

.p6:hover {
    transform: scale(1.1);
}

.p6 {
    transition: 0.3s ease-in-out;
    
}

.Names2 {
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 20px;
    text-align: center;
    font-size: .9em;
    margin-top: 5%;
    margin-bottom: 15%;

}

.grid3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 20px;
    margin-bottom: auto;
}

.p7:hover {
    transform: scale(1.1);
}

.p7 {
    transition: 0.3s ease-in-out;
}

.p8:hover {
    transform: scale(1.1);
}

.p8 {
    transition: 0.3s ease-in-out;
}

.p9:hover {
    transform: scale(1.1);
}

.p9 {
    transition: 0.3s ease-in-out;
    
}

.Names3 {
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 20px;
    text-align: center;
    font-size: .9em;
    margin-top: 5%;
    margin-bottom: 10%;
}

.grid4 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 20px;
    margin-bottom: auto;
}

.p10:hover {
    transform: scale(1.1);
}

.p10 {
    transition: 0.3s ease-in-out;
}

.p11:hover {
    transform: scale(1.1);
}

.p11 {
    transition: 0.3s ease-in-out;
}

.p12:hover {
    transform: scale(1.1);
}

.p12 {
    transition: 0.3s ease-in-out;
    
}

.Names4 {
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 20px;
    text-align: center;
    font-size: .9em;
    margin-top: 5%;
    margin-bottom: 15%;
}


#Contact {
    margin: 0px 70px 0px 70px;
}

.website {
    color: #5949ff;
}

.Para2{
    
    font-size: 2.2em;
    margin-bottom: 9%;
}

 .social li {
    display: inline;
}

li a {
    text-decoration: none;
    color: white;
    margin-right: 1.4em;
    font-size: 1.5em;
}

.social {
    margin-bottom: 12%;
}

 .mail:hover{
    background-color: #5949ff;
}

.dribbble:hover{
    background-color: #ea4c89;

}

.instagram:hover{
   background-color: #833ab4;
}

.twitter:hover{
background-color: #1da1f2;    
}

.tumblr:hover{
    background-color: #35465c;
}
    
}




@media (min-width: 1080px) {
    
body {
    
     color: white;
     background-color: #1a1a1b;
     
}

::-webkit-scrollbar { 
    display: none; 
}

html {
    
    scroll-behavior: smooth;
}

h1 {
    font-family: 'Playfair Display bold', serif;
     -webkit-text-stroke: 1px White;
     color: #1a1a1b;
}

h2 {  
    font-family: 'Roboto light', sans-serif;
}

p {
     font-family: 'Roboto light', sans-serif;
}

a {
    font-family: 'Roboto regular', sans-serif;
   
}

span {
    color: #5949ff;
}

img {
    width: 100%;
}

img.logo {
    
max-width:3.6em;
height: auto;    
}

.navbar {
    text-align: right;
    
}

nav a {
    text-decoration: none;
    color: white;
    font-size: 1.4em;
    margin-left: 60px;
}

nav a:hover {
    
    background-color: #5949ff;
}

.Download {
    
    background-color: #5949ff;
    padding: .7em;
}

.Download:hover {
    
    box-shadow: 0px 14px 35px #212122;
}

nav {
    display: flex;
    align-items: center;
    justify-content:space-between;
    background-color: #292a2c;
    padding-left: 6%;
    padding-right: 6%;
    padding-top: 3%;
    padding-bottom: 3%;
}

#Intro {
    margin: 0px 90px 0px 90px;
    margin-top: 13%;
    margin-bottom: 13%;
}

.Heading {
    
    font-size: 3.6em;
    text-align: center;
    margin-bottom: 5%;
    line-height: 1.6em;
}

.Para {
    font-size: 2.6em;
    text-align: center;
}

#Icons {
    
    margin: 0px 90px 0px 90px;
    
}

.Heading1 {
    font-size: 3.6em;
    margin-bottom: 8%;
}

.Para1{
    
    font-size: 2.6em;
    margin-bottom: 15%;
}

.grid1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 30px;
    margin-bottom: auto;
    
}
    .p1 {
        width: 100%;
    }
    
.p1:hover {
    transform: scale(1.2);
}

.p1 {
    transition: 0.3s ease-in-out;
}

.p2:hover {
    transform: scale(1.2);
}

.p2 {
    transition: 0.3s ease-in-out;
}

.p3:hover {
    transform: scale(1.2);
}

.p3 {
    transition: 0.3s ease-in-out;
    
}
    .Names1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 30px;
    text-align: center;
    font-size: 1em;
    margin-top: 5%;
    margin-bottom: 12%;
} 
    
.grid2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 30px;
    margin-bottom: auto;
}

.p4:hover {
    transform: scale(1.2);
}

.p4 {
    transition: 0.3s ease-in-out;
}

.p5:hover {
    transform: scale(1.2);
}

.p5 {
    transition: 0.3s ease-in-out;
}

.p6:hover {
    transform: scale(1.2);
}

.p6 {
    transition: 0.3s ease-in-out;
    
}

.Names2 {
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 20px;
    text-align: center;
    font-size: 1em;
    margin-top: 5%;
    margin-bottom: 12%;

}

.grid3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 30px;
    margin-bottom: auto;
}

.p7:hover {
    transform: scale(1.2);
}

.p7 {
    transition: 0.3s ease-in-out;
}

.p8:hover {
    transform: scale(1.2);
}

.p8 {
    transition: 0.3s ease-in-out;
}

.p9:hover {
    transform: scale(1.2);
}

.p9 {
    transition: 0.3s ease-in-out;
    
}

.Names3 {
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 30px;
    text-align: center;
    font-size: 1em;
    margin-top: 5%;
    margin-bottom: 12%;
}

.grid4 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 30px;
    margin-bottom: auto;
}

.p10:hover {
    transform: scale(1.2);
}

.p10 {
    transition: 0.3s ease-in-out;
}

.p11:hover {
    transform: scale(1.2);
}

.p11 {
    transition: 0.3s ease-in-out;
}

.p12:hover {
    transform: scale(1.2);
}

.p12 {
    transition: 0.3s ease-in-out;
    
}

.Names4 {
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 30px;
    text-align: center;
    font-size: 1em;
    margin-top: 5%;
    margin-bottom: 17%;
}


#Contact {
    margin: 0px 90px 0px 90px;
}

.website {
    color: #5949ff;
}

.Para2{
    
    font-size: 2.6em;
    margin-bottom: 8%;
}

 .social li {
    display: inline;
}

li a {
    text-decoration: none;
    color: white;
    margin-right: 2em;
    font-size: 1.7em;
}

.social {
    margin-bottom: 8%;
}

 .mail:hover{
    background-color: #5949ff;
}

.dribbble:hover{
    background-color: #ea4c89;

}

.instagram:hover{
   background-color: #833ab4;
}

.twitter:hover{
background-color: #1da1f2;    
}

.tumblr:hover{
    background-color: #35465c;
}
    
}





@media (min-width: 1366px) {

body {
    
     color: white;
     background-color: #1a1a1b;
     
}

::-webkit-scrollbar { 
    display: none; 
}

html {
    
    scroll-behavior: smooth;
}

h1 {
    font-family: 'Playfair Display bold', serif;
     -webkit-text-stroke: 1px White;
     color: #1a1a1b;
}

h2 {  
    font-family: 'Roboto light', sans-serif;
}

p {
     font-family: 'Roboto light', sans-serif;
}

a {
    font-family: 'Roboto regular', sans-serif;
   
}

span {
    color: #5949ff;
}

img {
    width: 100%;
}

img.logo {
    
max-width:3.7em;
height: auto;    
}

.navbar {
    text-align: right;
    
}

nav a {
    text-decoration: none;
    color: white;
    font-size: 1.4em;
    margin-left: 60px;
}

nav a:hover {
    
    background-color: #5949ff;
}

.Download {
    
    background-color: #5949ff;
    padding: .7em;
}

.Download:hover {
    
    box-shadow: 0px 14px 35px #212122;
}

nav {
    display: flex;
    align-items: center;
    justify-content:space-between;
    background-color: #292a2c;
    padding-left: 6%;
    padding-right: 6%;
    padding-top: 3%;
    padding-bottom: 3%;
}

#Intro {
    margin: 0px 100px 0px 100px;
    margin-top: 12%;
    margin-bottom: 12%;
}

.Heading {
    
    font-size: 4em;
    text-align: center;
    margin-bottom: 5%;
}

.Para {
    font-size: 2.8em;
    text-align: center;
}

#Icons {
    
    margin: 0px 100px 0px 100px;
    
}

.Heading1 {
    font-size: 4em;
    margin-bottom: 8%;
}

.Para1{
    
    font-size: 2.8em;
    margin-bottom: 15%;
}

.grid1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 30px;
    margin-bottom: auto;
    
}
    .p1 {
        width: 100%;
    }
    
.p1:hover {
    transform: scale(1.2);
}

.p1 {
    transition: 0.3s ease-in-out;
}

.p2:hover {
    transform: scale(1.2);
}

.p2 {
    transition: 0.3s ease-in-out;
}

.p3:hover {
    transform: scale(1.2);
}

.p3 {
    transition: 0.3s ease-in-out;
    
}
    .Names1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 30px;
    text-align: center;
    font-size: 1.3em;
    margin-top: 5%;
    margin-bottom: 12%;
} 
    
.grid2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 30px;
    margin-bottom: auto;
}

.p4:hover {
    transform: scale(1.2);
}

.p4 {
    transition: 0.3s ease-in-out;
}

.p5:hover {
    transform: scale(1.2);
}

.p5 {
    transition: 0.3s ease-in-out;
}

.p6:hover {
    transform: scale(1.2);
}

.p6 {
    transition: 0.3s ease-in-out;
    
}

.Names2 {
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 20px;
    text-align: center;
    font-size: 1.3em;
    margin-top: 5%;
    margin-bottom: 12%;

}

.grid3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 30px;
    margin-bottom: auto;
}

.p7:hover {
    transform: scale(1.2);
}

.p7 {
    transition: 0.3s ease-in-out;
}

.p8:hover {
    transform: scale(1.2);
}

.p8 {
    transition: 0.3s ease-in-out;
}

.p9:hover {
    transform: scale(1.2);
}

.p9 {
    transition: 0.3s ease-in-out;
    
}

.Names3 {
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 30px;
    text-align: center;
    font-size: 1.3em;
    margin-top: 5%;
    margin-bottom: 12%;
}

.grid4 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 30px;
    margin-bottom: auto;
}

.p10:hover {
    transform: scale(1.2);
}

.p10 {
    transition: 0.3s ease-in-out;
}

.p11:hover {
    transform: scale(1.2);
}

.p11 {
    transition: 0.3s ease-in-out;
}

.p12:hover {
    transform: scale(1.2);
}

.p12 {
    transition: 0.3s ease-in-out;
    
}

.Names4 {
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 30px;
    text-align: center;
    font-size: 1.3em;
    margin-top: 5%;
    margin-bottom: 17%;
}


#Contact {
    margin: 0px 100px 0px 100px;
}

.website {
    color: #5949ff;
}

.Para2{
    
    font-size: 2.8em;
    margin-bottom: 8%;
}

 .social li {
    display: inline;
}

li a {
    text-decoration: none;
    color: white;
    margin-right: 2em;
    font-size: 2.3em;
}

.social {
    margin-bottom: 8%;
}

 .mail:hover{
    background-color: #5949ff;
}

.dribbble:hover{
    background-color: #ea4c89;

}

.instagram:hover{
   background-color: #833ab4;
}

.twitter:hover{
background-color: #1da1f2;    
}

.tumblr:hover{
    background-color: #35465c;
}
    
}    





@media (min-width: 1600px) {

body {
    
     color: white;
     background-color: #1a1a1b;
     
}

::-webkit-scrollbar { 
    display: none; 
}

html {
    
    scroll-behavior: smooth;
}

h1 {
    font-family: 'Playfair Display bold', serif;
     -webkit-text-stroke: 1px White;
     color: #1a1a1b;
}

h2 {  
    font-family: 'Roboto light', sans-serif;
}

p {
     font-family: 'Roboto light', sans-serif;
}

a {
    font-family: 'Roboto regular', sans-serif;
   
}

span {
    color: #5949ff;
}

img {
    width: 100%;
}

img.logo {
    
max-width:4em;
height: auto;    
}

.navbar {
    text-align: right;
    
}

nav a {
    text-decoration: none;
    color: white;
    font-size: 1.6em;
    margin-left: 70px;
}

nav a:hover {
    
    background-color: #5949ff;
}

.Download {
    
    background-color: #5949ff;
    padding: .8em;
}

.Download:hover {
    
    box-shadow: 0px 14px 35px #212122;
}

nav {
    display: flex;
    align-items: center;
    justify-content:space-between;
    background-color: #292a2c;
    padding-left: 6%;
    padding-right: 6%;
    padding-top: 3%;
    padding-bottom: 3%;
}

#Intro {
    margin: 0px 110px 0px 110px;
    margin-top: 15%;
    margin-bottom: 15%;
}

.Heading {
    
    font-size: 5.5em;
    text-align: center;
    margin-bottom: 5%;
}

.Para {
    font-size: 3.5em;
    text-align: center;
}

#Icons {
    
    margin: 0px 110px 0px 110px;
    
}

.Heading1 {
    font-size: 5.5em;
    margin-bottom: 8%;
}

.Para1{
    
    font-size: 3.5em;
    margin-bottom: 15%;
}

.grid1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 30px;
    margin-bottom: auto;
    
}
    .p1 {
        width: 100%;
    }
    
.p1:hover {
    transform: scale(1.2);
}

.p1 {
    transition: 0.3s ease-in-out;
}

.p2:hover {
    transform: scale(1.2);
}

.p2 {
    transition: 0.3s ease-in-out;
}

.p3:hover {
    transform: scale(1.2);
}

.p3 {
    transition: 0.3s ease-in-out;
    
}
    .Names1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 30px;
    text-align: center;
    font-size: 1.5em;
    margin-top: 5%;
    margin-bottom: 12%;
} 
    
.grid2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 30px;
    margin-bottom: auto;
}

.p4:hover {
    transform: scale(1.2);
}

.p4 {
    transition: 0.3s ease-in-out;
}

.p5:hover {
    transform: scale(1.2);
}

.p5 {
    transition: 0.3s ease-in-out;
}

.p6:hover {
    transform: scale(1.2);
}

.p6 {
    transition: 0.3s ease-in-out;
    
}

.Names2 {
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 20px;
    text-align: center;
    font-size: 1.5em;
    margin-top: 5%;
    margin-bottom: 12%;

}

.grid3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 30px;
    margin-bottom: auto;
}

.p7:hover {
    transform: scale(1.2);
}

.p7 {
    transition: 0.3s ease-in-out;
}

.p8:hover {
    transform: scale(1.2);
}

.p8 {
    transition: 0.3s ease-in-out;
}

.p9:hover {
    transform: scale(1.2);
}

.p9 {
    transition: 0.3s ease-in-out;
    
}

.Names3 {
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 30px;
    text-align: center;
    font-size: 1.5em;
    margin-top: 5%;
    margin-bottom: 12%;
}

.grid4 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 30px;
    margin-bottom: auto;
}

.p10:hover {
    transform: scale(1.2);
}

.p10 {
    transition: 0.3s ease-in-out;
}

.p11:hover {
    transform: scale(1.2);
}

.p11 {
    transition: 0.3s ease-in-out;
}

.p12:hover {
    transform: scale(1.2);
}

.p12 {
    transition: 0.3s ease-in-out;
    
}

.Names4 {
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 30px;
    text-align: center;
    font-size: 1.5em;
    margin-top: 5%;
    margin-bottom: 17%;
}


#Contact {
    margin: 0px 110px 0px 110px;
}

.website {
    color: #5949ff;
}

.Para2{
    
    font-size: 3.5em;
    margin-bottom: 8%;
}

 .social li {
    display: inline;
}

li a {
    text-decoration: none;
    color: white;
    margin-right: 2em;
    font-size: 2.7em;
}

.social {
    margin-bottom: 10%;
}

 .mail:hover{
    background-color: #5949ff;
}

.dribbble:hover{
    background-color: #ea4c89;

}

.instagram:hover{
   background-color: #833ab4;
}

.twitter:hover{
background-color: #1da1f2;    
}

.tumblr:hover{
    background-color: #35465c;
}
    
}     


    

    
    



